<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Web App</title>
</head>
<body>
  <header class="app-header">    
    <%= image_tag "kimonocoorde_logo.png", class:"logo" %>
    <div class="buttons">     
      <a href="<%= new_user_session_path %>" class="login-button">ログイン</a>
      <a href="<%= new_user_registration_path %>" class="signup-button">アカウント作成</a>
    </div>
  </header>
 
  <div class="divider"></div>
  <h1 class="heading1">見出し１</h1>
  <h2 class="heading2">見出し２</h2>
  <p class="text">テキストがここに入ります。</p>
</body>
</html>
