<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Web App</title>
</head>
<body>
 <header class="app-header">
  <div class="menu-icon">
    <div class="menu-line"></div>
    <div class="menu-line"></div>
    <div class="menu-line"></div>
  </div>
  <div class="logo">
    <img src="logo.png" alt="Logo">
  </div>
  <div class="bubble-icon">
    <div class="bubble"></div>
  </div>
  <div class="bell-icon">
     <%= image_tag "bell_icon.png", class:"bell-icon" %>
  </div>
  <div class="search-icon">     
    <%= image_tag "search.png", class:"search-icon" %>
  </div>
</header>

</body>
</html>
