.item-registration-container {
  background-color: #fef4f4;
  color: #333631;

  .header {
    display: flex;
    align-items: center;

    .back-arrow {
      color: #BB0011;
      margin-right: 10px;
    }
    
    h2 {
      flex: 1;
      text-align: center;
    }
  }

  .divider {
    width: 100%;
    border: none;
    border-bottom: 1px solid #BB0011;
    margin: 10px 0;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .item-image {
      width: 100px;
      height: 100px;
      background-color: #F7E3C0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .select-field, .textarea-field {
    margin-bottom: 10px;

    select, textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #BB0011;
      background-color: #F7E3C0;
    }
  }

  .submit-button {
    width: 100%;
    background-color: #BB0011;
    border: none;
    padding: 10px 0;
    color: white;
  }
}
